{% extends 'layout.html' %}

{% block title %}Welcome {{ user.name }}{% endblock %}

<script type="text/javascript">
	"use strict";
</script>

{% block head %}
	<link rel="stylesheet" href="../css/index.css">
{% endblock %}

{% block content_left %}
	{% if username %}
		<h1>Welcome {{ username }}!</h1>

		<div>
			<p>Please choose one of the following categories:
				<ul>
					<li><a href="configuration">Configuration</a></li>
					<li><a href="project">Project</a></li>
					<li><a href="method">Method</a></li>
					<li><a href="experiment">Experiment</a></li>
					<li><a href="visualization">Visualization</a></li>
				</ul>
			</p>
		</div>
	{% else %}
		<h1>Welcome! Please register first or login!</h1>
	{% endif %}
{% endblock %}