<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>HPWC Workflow - {% block title %}{% endblock %}</title>
	<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="../css/layout.css">
	{% if username %}
	<script type="text/javascript" src="../js/layout.js"></script>
	<script type="text/javascript">
	
		"use strict";

		$(document).ready(function() {


			//Get the possible configuration and check for the current configuration reading the project
			$.get( '/services/configuration/getAll', function( data ) {

				if ( data ) {

					//put data inside "configs" element
					for ( var config in data ) {
						$('#configs').append($('<option>').attr('value', config).text(config));
					}

					{% if selectedConnection %}

						//Current configuration not empty
						var currentConf = "{{ selectedConnection.name }}";

						//set current configuration, change event is not raised because the configuration details are read from the session
						$("#configs").val(currentConf);
	/*
						{% for el in listConnections %}
							{% if el == selectedConnection.name %}
								alert("YES");
							{% else %}
								alert("NO");
							{% endif %}
						{% endfor %}
	*/

						//alert ("{{ selectedConnection.status }}");

						{% if selectedConnection.status %}
						
							$('#connButton').prop('hidden', true);
							$('#disconnectButton').prop('hidden', false);

							//retrieve project list if old connection is set and connected
							getAndSetProjects( currentConf );
						{% endif %}

						{% block ifconnectionextra %}{% endblock %}

					{% else %}

						//Current configuration empty

					{% endif %}
				}
			})
			.fail( function( xhr ) {
				console.log(' Request failed: (' + xhr.status + ') ' + xhr.statusText );
			});
		});

		function getAndSetProjects( config_name ) {

			if( config_name === '' ) {
				//clean project list
				$( '#projects' ).html( '<option value="">Choose A Project</option>' );
			} else {
				//read the projects for an open connection and set the values
				$.get('/services/project/getAll/' + config_name, function( projects ) {
	
					for ( var i in projects ) {
						$('#projects').append($('<option>').attr('value', projects[i]).text(projects[i]));
					}
	
					{% if selectedConnection.project %}
	
					//Current project not empty
					var currentProject = "{{ selectedConnection.project.name }}";
					
					//set current project, change event is not raised because the project details are read from the session
					$("#projects").val(currentProject);
	
					{% block ifprojectextra %}{% endblock %}
	
					{% else %}
	
					//Current project empty
	
					{% endif %}
				});
			} 
		}
	</script>
	{% endif %}

	{% block head %}{% endblock %}

</head>
<body>
	<header>
		<a href="/views/index"><img src="../img/unilogo_HPWC_small.png"></a>
		<div></div>
	</header>
	<nav>
		<a href="/views/project">Project</a>
		<a href="/views/method">Method</a>
		<a href="/views/experiment">Experiment</a>
		<a href="/views/visualization">Visualization</a>
		{% if username %}
			<a href="/views/logout">Logout</a>
		{% else %}
			<a href="/views/login">Login</a>
			<a href="/views/register">Register</a>
		{% endif %}
	</nav>
	<section>
		<div class="left">
			{% block content_left %}{% endblock %}
		</div>
		<div class="right">
		{% if username %}
		{% block shared_content_right %}
			<div id="preview">
				<div id="conf_title">
					<label for="configs">Current connection settings</label>
					<select id="configs" name="configs">
						<option value="">Choose A Configuration</option>
					</select>
				</div>
				<table id="conf_table">
					<tr>
						<th>
							Hostname
						</th>
						<td name="hostname">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'name' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Url
						</th>
						<td name="host">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'url' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Username
						</th>
						<td name="username">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'username' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Workflow path
						</th>
						<td name="workflow">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'workhome' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Workspace path
						</th>
						<td name="workspace">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'workspace' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
				</table>
				<div class="centered-text">
					<button id="connectButton" onclick="toggleSelectedConnection( this )" disabled="true">Connect</button>
				</div>
			</div>
		{% endblock %}
		{% endif %}
		{% block content_right %}{% endblock %}
		</div>
	</section>
	<footer>
	</footer>
</body>
</html>