<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>HPWC Workflow - {% block title %}{% endblock %}</title>
	<script type="text/javascript" src="../js/lib/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="../css/layout.css">
	{% if username %}
	<script type="text/javascript" src="../js/layout.js"></script>
	<script type="text/javascript">
	
		"use strict";

		// The public object
		var oPub = {};
		{% if selectedConnection %}
			oPub.selectedConn = {
				name: '{{ selectedConnection.name }}',
				status: {{ selectedConnection.status }},
				projectName: '{{ selectedConnection.project.name }}' 
			};
		{% endif %}

		$(document).ready(function() {

			//Get the possible configuration and check for the current configuration reading the project
			getAllConfigurations(function( err, data ) {

				if ( data.configurations ) {

					//put data inside "configs" element
					for ( var config in data.configurations ) {
						$( '#configs' ).append($( '<option>' ).attr( 'value', config ).text( config ) );
					}

					//Current configuration not empty
					if( oPub.selectedConn.name !== '' ) {

						//set current configuration, change event is not raised because the configuration details are read from the session
						$( '#configs' ).val( oPub.selectedConn.name );

						$( '#connectButton' ).text( oPub.selectedConn.status ? 'Disconnect' : 'Connect' );

						if( oPub.selectedConn.status ) {

							//retrieve project list if old connection is set and connected
							getAndSetProjects( oPub.selectedConn.name, oPub.selectedConn.projectName );
						}
					}
				}
			});

		});

		function getAndSetProjects( config_name, project_val ) {

			//clean project list
			$( '#projects' ).html( '<option value="">Choose A Project</option>' );

			if( config_name !== '' ) {
				//read the projects for an open connection and set the values
				$.get( '/services/project/getAll/' + config_name, function( projects ) {
	
					for ( var i in projects ) {
						$( '#projects' ).append($( '<option>' ).attr( 'value', projects[i] ).text( projects[i] ) );
					}
	
					if (project_val) {
						$( '#projects' ).val( project_val );
					}
				}).fail(function( xhr ) {
					console.log( xhr.responseText );
				});
			} 
		}
	</script>
	{% endif %}

	{% block head %}{% endblock %}

</head>
<body>
	<header>
		<a href="/views/index"><img src="../img/unilogo_HPWC_small.png"></a>
		<div></div>
	</header>
	<nav>
		<a href="/views/configuration">Configurations</a>
		<a href="/views/project">Project</a>
		<a href="/views/method">Method</a>
		<a href="/views/experiment">Experiment</a>
		<a href="/views/visualization">Visualization</a>
		{% if username %}
			<a href="/views/logout">Logout</a>
		{% else %}
			<a href="/views/login">Login</a>
			<a href="/views/register">Register</a>
		{% endif %}
	</nav>
	<section>
		<div class="left">
			{% block content_left %}{% endblock %}
		</div>
		<div class="right">
		{% if username %}
		{% block shared_content_right %}
			<div id="preview">
				<div id="conf_title">
					<h3>Current connection settings</h3>
					<select id="configs" name="configs">
						<option value="">Choose A Configuration</option>
					</select>
				</div>
				<table id="conf_table">
					<tr>
						<th>
							Hostname : 
						</th>
						<td name="hostname">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'name' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Url : 
						</th>
						<td name="host">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'url' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Username : 
						</th>
						<td name="username">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'username' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Workflow path : 
						</th>
						<td name="workflow">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'workhome' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							Workspace path : 
						</th>
						<td name="workspace">
							{% if selectedConnection %}
								{{ configurations[ selectedConnection.name ][ 'workspace' ] }}
							{% else %}
								--
							{% endif %}
						</td>
					</tr>
				</table>
				<div class="centered-text">
					<button id="connectButton" onclick="toggleSelectedConnection( this )"
						{% if !selectedConnection %}disabled="true"{% endif %}>Connect</button>
				</div>
			</div>
		{% endblock %}
		{% endif %}
		{% block content_right %}{% endblock %}
		</div>
	</section>
	<footer>
	</footer>
</body>
</html>