{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

	{% block head %}
		<script type="text/javascript" src="../js/lib/sha3.js"></script>
		<script type="text/javascript">
			var setInfo = function( text, fail ) {
				$( '#info' )
					.addClass( fail ? 'wrong' : 'right' )
					.removeClass( fail ? 'right' : 'wrong' )
					.text( text );
			};
			var doLogin = function() {
				var hp = CryptoJS.SHA3( $( '#pass' ).val(), {
						outputLength: 512
					}),
					oBody = {
						username: $( '#username' ).val(),
						password: hp.toString()
					};
				if(  $( '#username' ).val() ===  '' || $( '#pass' ).val() ===  '' ) {
					alert( 'Please provide username and password!' );
					return;
				}
				$.post( '/services/session/login', oBody, function( answ ) {
					window.location.href = 'index';
				})
				.fail( function( req ) {
					setInfo( 'Login failed!', true );
				});
			};
			var checkEnter = function( e ){
				if (e.keyCode == 13) {
					doLogin();
				}
			}
		</script>
	{% endblock %}


{% block content_left %}

	{% if user %}
		<h1>Haha nice try!</h1>
	{% else %}
		<h1>Login</h1>
		<table id="loginform" class="form">
			<tr>
				<td>Username</td>
				<td class="colon">:</td>
				<td><input type="text" id="username" onkeypress="checkEnter(event)" autofocus></td>
			</tr>
			<tr>
				<td>Password</td>
				<td class="colon">:</td>
				<td><input type="password" id="pass" onkeypress="checkEnter(event)" ></td>
			</tr>
			<tr>
				<td colspan="3" class="threecol">
					<button onclick="doLogin()">Login</button>
				</td>
			</tr>
		</table>
	{% endif %}
{% endblock %}
{% block shared_content_right %}
	<!-- Empty Right -->
{% endblock %}
{% block content_right %}
	<p id="info"></p>
{% endblock %}
