{% extends 'layout.html' %}

{% block title %}Method{% endblock %}

{% block ifprojectextra %}
//retrieve method list if current project is set
$.get('/services/method/get', function( data ) {
	var methods_string = '<option value="">Choose A Method</option>';
	if (data !== "") {
		data.forEach(function(method) {
			methods_string += '<option value="' + method + '">' + method + '</option>';
		});
	}
	$('#methods').html(methods_string);
});
{% endblock %}

{% block ifconnectionextra %}
$.get('/services/method/getInstalled', function( data ) {
	var types_string = '<option value="">Choose A Method Type</option>';
	if (data !== "") {
		data.forEach(function(type) {
			types_string += '<option value="' + type + '">' + type + '</option>';
		});
	}
	$('#method_types').html(types_string);
});
{% endblock %}

{% block head %}
<script type="text/javascript" src="../js/tab.js"></script>
<script type="text/javascript" src="../js/method.js"></script>
<script type="text/javascript" src="../js/editor.js"></script>
<script type="text/javascript" src="../js/src-noconflict/ace.js" charset="utf-8"></script>


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/tab.css" />
<link rel="stylesheet" type="text/css" href="../css/method.css" />

{% endblock %}

{% block content_left %}
<h1>Method Configuration</h1>
<h6>Project Name</h6></br>
<select id="projects" name="project_name">
	<option value="">Choose A Project</option>
</select>
<div class="tabs">
	<ul class="tab-links">
		<li class="active"><a href="#tab1">New Method</a></li>
		<li><a href="#tab2">Edit Method</a></li>
	</ul>
	<div class="tab-content">
		<div id="tab1" class="tab active">
			<table id="new_method">
				<tr>
					<td>Method Name</td>
					<td><input name="method_name" type="text" size="30"></td>
				</tr>
				<tr>
					<td>Method Type</td>
					<td>
						<select id="method_types" name="method_type">
							<option value="">Choose A Method Type</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Comment</td>
					<td>
						<textarea name="comment"></textarea>
					</td>
				</tr>
			</table>
			<div>
				<input type="button" value="Create Method" onclick="manage_method('create');">
			</div>
		</div>

		<div id="tab2" class="tab">
			<table id="edit_method">
				<tr>
					<td>Method Name</td>
					<td>
						<select id="methods" name="method_name">
							<option value="">Choose A Method</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Method Type</td>
					<td>
						<input name="method_type" type="text" size="30" readonly>
					</td>
				</tr>
				<tr>
					<td>Comment</td>
					<td>
						<textarea name="comment"></textarea>
					</td>
				</tr>
			</table>
			<div>
				<input type="button" value="Edit Method" onclick="manage_method('edit');">
				<input type="button" value="Delete Method" onclick="manage_method('delete');">
			</div>
		</div>
	</div>
</div>		
{% endblock %}
{% block content_right %}
<div id="cmd_response">
	<h3>Command Response</h3>
	<textarea id="resp_textarea" readonly></textarea>
</div>
{% endblock %}