{% extends 'layout.html' %}

{% block title %}Project{% endblock %}

{% block head %}
<script type="text/javascript" src="../js/tab.js"></script>
<script type="text/javascript" src="../js/project.js"></script>
<script type="text/javascript">
	
	"use strict";

	$(document).ready(function() {
		
		//create handler for changing of configuraton
		$("#configs").change( function() {
			var conf_file = $(this).val();
			if (conf_file == "") {
				$("#conf_table td[name='hostname']").html("--");
				$("#conf_table td[name='host']").html("--");
				$("#conf_table td[name='username']").html("--");
				$("#conf_table td[name='workflow']").html("--");
				$("#conf_table td[name='workspace']").html("--");

				//clean project list
				$("#projects").html("<option value=''>Choose A Project</option>");
				$("#projects").change();

				//close the connection
				$.get('/services/gen/ssh/close', function( data ) {
					alert( data );
				});
			} else {
				$.get('/services/gen/getConfigs?conf=' + conf_file, function( data ) {
					var obj = data;
					$("#conf_table td[name='hostname']").html(obj.hostname);
					$("#conf_table td[name='host']").html(obj.url);
					$("#conf_table td[name='username']").html(obj.username);
					$("#conf_table td[name='workflow']").html(obj.workhome);
					$("#conf_table td[name='workspace']").html(obj.workspace);

					//when the configuration change, we read again the project
					$.get('/services/project/getProjects', function( data ) {


						var projects_string = '<option value="">Choose A Project</option>';
						data.forEach(function(project) {
							projects_string += '<option value="' + project + '">' + project + '</option>';
						});

						$('#projects').html(projects_string);

	/*					
						//remove old values except for the first
						$('#projects option:not(:first-child)').remove();
						//put data inside "projects" element
						data.forEach(function(project) {
	    					$('#projects').append($('<option>').attr('value', project).text(project));
						});
	*/					
					});
				});
			}
		});

		//when the project selected change, we read the value of parameters (user change)
		$("#projects").change( function() {
			var project = $(this).val();
			$("#resp_textarea").val("");
			update_project( project );
		});
	});
	
</script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/tab.css" />

{% endblock %}

{% block content_left %}
<h1 align="center">Project Configuration</h1>
</br>
<div class="tabs">
	<ul class="tab-links">
		<li class="active"><a href="#tab1">New Project</a></li>
		<li><a href="#tab2">Edit Project</a></li>
	</ul>
	<div class="tab-content">
		<div id="tab1" class="tab active">
			<form action=''>
				<table id="new_project">
					<tr>
						<td>Project Name</td>
						<td><input name="project_name" type="text" size="30"></td>
					</tr>
					<tr>
						<td>Parameters Name</td>
						<td><input name="par_list" type="text" size="30"></td>
					</tr>
					<tr>
						<td>Default parameters value</td>
						<td><input name="par_val" type="text" size="30"></td>
					</tr>
					<tr>
						<td>Default number of threads</td>
						<td><input name="nthreads" type="number" style="text-align: center;width: 15%; margin-bottom: 4px;" min="1" value="2"></td>
					</tr>
					<tr>
						<td>Comment</td>
						<td><textarea name="comment" style="resize: none; width: 128px; font-size: 94%;"></textarea></td>
					</tr>
				</table>
				<div class="center_div">
					<input type="button" value="Create Project" onclick="manage_project('create');">
				</div>
			</form>
		</div>

		<div id="tab2" class="tab">
			<form action=''>
				<table id="edit_project">
					<tr>
						<td>Project Name</td>
						<td>
							<select id="projects" name="project_name">
								<option value="">Choose A Project</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Parameters Name</td>
						<td>
							<input name="par_list" type="text" size="30" value="{{ connection.project.parameters.list }}">
						</td>
					</tr>
					<tr>
						<td>Default parameters value</td>
						<td>
							<input name="par_val" type="text" size="30" value="{{ connection.project.parameters.default }}">
						</td>
					</tr>
					<tr>
						<td>Default number of threads</td>
						<td>
							<input name="nthreads" type="number" style="text-align: center;width: 15%; margin-bottom: 4px;" min="1" value="{{ connection.project.threads }}">
						</td>
					</tr>
					<tr>
						<td>Comment</td>
						<td>
							<textarea name="comment" style="resize: none; width: 128px; font-size: 94%;">{{ connection.project.comment }}</textarea>
						</td>
					</tr>
				</table>
				<div class="center_div">
					<input type="button" value="Edit Project" onclick="manage_project('edit');">
					<input type="button" value="Delete Project" onclick="manage_project('delete');">
				</div>
			</form>
		</div>
	</div>
</div>				
{% endblock %}
{% block content_right %}
<table>
<tr>
	<td>
		<div id="preview">
			<div id="conf_title">
				<label for="configs">Current connection settings</label>
				<select id="configs" name="configs">
					<option value="">Choose A Configuration</option>
				</select>
			</div>
			<table id="conf_table">
				<tr>
					<th>
						Hostname
					</th>
					<td name="hostname">
						{% if connection %}
							{{ connection.hostname }}
						{% else %}
							--
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>
						Url
					</th>
					<td name="host">
						{% if connection %}
							{{ connection.url }}
						{% else %}
							--
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>
						Username
					</th>
					<td name="username">
						{% if connection %}
							{{ connection.username }}
						{% else %}
							--
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>
						Workflow path
					</th>
					<td name="workflow">
						{% if connection %}
							{{ connection.workhome }}
						{% else %}
							--
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>
						Workspace path
					</th>
					<td name="workspace">
						{% if connection %}
							{{ connection.workspace }}
						{% else %}
							--
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</td>
</tr>
<tr>
	<td>
		</br>
	</td>
</tr>
<tr>
	<td>
		<div id="cmd_response">
			<h3>Command Response</h3>
			<textarea id="resp_textarea" readonly></textarea>
		</div>
	</td>
</tr>
</table>
{% endblock %}