{% extends 'layout.html' %}

{% block title %}Visualization{% endblock %}

{% block head %}
<script type="text/javascript" src="../js/visualization.js"></script>
<script type="text/javascript" src="../js/graph.js"></script>


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/visualization.css" />

{% endblock %}

{% block content_left %}
<h1>Graphs Selection</h1>
</br>
<h4>Select the experiment, out of your run benchmarks, to build a graph</h4>
<br/>
<div id="output_preview">
	<div>
		<label for="experiments">Current experiment</label>
		<select id="experiments" name="experiment_name">
			<option value="">Choose An Experiment</option>
		</select>
	</div>
	<table id="exp_details">
		<tr>
			<th></th>
			<th>Fixed</th>
			<th>List</th>
		</tr>
		<tr>
			<th>Parameters</th>
			<td>
				<input class="fixed" type="checkbox" id="fix_par" value="0" checked disabled>
			</td>
			<td name="parameters">
				--
			</td>
		</tr>
		<tr>
			<th>Methods</th>
			<td>
				<input class="fixed" type="checkbox" id="fix_met" value="1" checked disabled>
			</td>
			<td name="methods">
				--
			</td>
		</tr>
		<tr>
			<th>Threads</th>
			<td>
				<input class="fixed" type="checkbox" id="fix_thr" value="2" checked disabled>
			</td>
			<td name="nthreads">
				--
			</td>
		</tr>
		<tr>
			<th>Number of Executions</th>
			<td>
				
			</td>
			<td name="nexecs">
				--
			</td>
		</tr>
	</table>
	<div class="centered-text">
		<button onclick="showGraph()">Show Graph</button>
	</div>
</div>
{% endblock %}

{% block content_right %}
<div id="project_preview">
	<div id="project_title">
		<label for="projects">Current project settings: </label>
		<select id="projects" name="project_name">
			<option value="">Choose A Project</option>
		</select>
	</div>
	<table id="project_details">
		<tr>
			<th>
				Parameters Name: 
			</th>
			<td name="par_list">--</td>
		</tr>
		<tr>
			<th>
				Comment: 
			</th>
			<td name="comment">--</td>
		</tr>
	</table>
</div>
{% endblock %}
{% block bottom %}
<img id="out_image"/>
{% endblock %}