/*----- Tabs -----*/
.tabs {
	width: 90%;
	margin: 20px;
	display: inline-block;
}

.tabs button {
	width: 120px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links {
	margin: 0;
}

.tab-links li {
	margin: 0px 5px;
	float: left;
	list-style: none;
}

.tab-links a {
	padding: 9px 15px;
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	background: #7FB5DA;
	font-size: 1.1em;
	font-weight: 600;
	color: #4c4c4c;
	transition: all linear 0.15s;
}

.tab-links a:hover {
	background: #a7cce5;
	text-decoration: none;
}

li.active a, li.active a:hover {
	background: #DDF;
	color: #333;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding: 10px;
	border-radius: 3px;
	background: #DDF;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
	/*background: #fff;*/
}

.tab-content  select {
	max-width: 300px;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}
